@use "variables";
@use "mixins";

header {
    max-width: 1440px;
    height: 667px;
    background-image: url("../assets/images/header.jpg");
    background-position-y: -214px;
    background-size: cover;
    margin: 0 auto;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 44px;
        margin-top: 164px;
        color: variables.$primary;
    }

    .logo {
        padding-top: 51px;
        margin-left: 69px;
        img {
            width: 207px;
        }
    }

    .search-bar {
        width: 952px;
        height: 72px;
        margin: 0 auto;
        position: relative;
        
        input {
            @include mixins.manrope-regular;
            
            width: calc(100% - 35px)    ;
            height: 100%;
            border-radius: 11px;
            padding: 0 0 0 35px;
            border: 0;
           
            & + svg {
                position: absolute;
                right: 70px;
                top: 25px;
                cursor: pointer;
                visibility: visible;
              }
            &:placeholder-shown + svg {
                visibility: hidden;
            }
        }
        #search-btn {
            width: 51px;
            height: 52px;
            border-radius: 10px;
            background-color: variables.$secondary;
            color: white;
            border: 0;
            position: absolute;
            right: 11px;
            top: 11px;
            cursor: pointer;
            transition: 1s ease all;

            &:hover {
                background-color: variables.$primary;
                color: black;
            }
        }
    }

    @media (max-width: variables.$layout-breakpoint-m) {
        .search-bar {
            width: 70%;
        }
    }

    @media (max-width: variables.$layout-breakpoint-xs) {
        .search-bar {
            width: 70%;
        }
        h1 {
            padding: 0 10px;
            font-size: 28px;
        }
        .logo {
            img {
                margin: auto;
                width: 80%;
                max-height: 40px;
            }
        }
    }
}